# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# PlatformIO
EMG_Arm/.pio/
EMG_Arm/.vscode/

# Large data files (too big for GitHub)
assets/*.hdf5

# OS
.DS_Store
Thumbs.db

.pio

.vscode

.claude